<%= form_for(@shiping) do |f| %>
  <% if @shiping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shiping.errors.count, "error") %> prohibited this shiping from being saved:</h2>

      <ul>
      <% @shiping.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :dizhi %><br>
    <%= f.text_field :dizhi %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
